<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <section id="services" class="section">
        <div class="container">
            <h2>Our Services</h2>
            <ul>
                <li>Real-time Mandi Prices</li>
                <li>Weather Forecasts and Alerts</li>
                <li>Personalized Crop Care Suggestions</li>
                <li>Offline Summaries & Downloads</li>
                <li>Multilingual Support</li>
            </ul>
        </div>
    </section>


</body>
</html>